<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">

          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
          <%= pluralize(@user.favorites.count, 'favorite') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<% if @user.posts.count == 0 %>
<%= "#{@user.name} has not submitted any posts yet." %>
<% end %>

<% if @user.posts.count > 0 %>
<%= render @user.posts %>
<% end %>

<h2>Comments</h2>
<% if @user.comments.count == 0 %>
<%= "#{@user.name} has not submitted any comments yet." %>
<% end %>

<% if @user.comments.count > 0 %>
<%= render @user.comments %>
<% end %>

<h2>Favorite Posts</h2>
<%- @user.favorites do |favorite| %>
  <%= render partial: @user.favorites %>
<% end %>
